@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-sora), sans-serif;
    --font-space: var(--font-space), sans-serif;
    --text-nav: clamp(1rem, 1.75vw + 0.5rem, 2rem);
    --text-title: clamp(0.35rem, 1.5vw + 0.35rem, 1.5rem);
    --spacing-page-x: clamp(0.5rem, 5vw, 8rem);
    --spacing-page-y: clamp(0.25rem, 5vh, 2rem);
}

@layer utilities {
    .nav-active {
        @apply relative text-white;
    }
    .nav-active::before {
        @apply content-[''] absolute bottom-1 m-auto bg-green-700 rounded-xs h-1 w-[calc(100%-2rem)];
    }

    .hamburger-menu {
        @apply relative w-full h-full;
    }
    .hamburger-menu::before,
    .hamburger-menu::after {
        @apply transition-all duration-300 content-[''] absolute w-[70%] h-1 bg-white inset-x-0 mx-auto rounded-md;
    }
    .hamburger-menu::before {
        @apply top-3;
    }
    .hamburger-menu::after {
        @apply bottom-3;
    }
    .hamburger-menu.open::before {
        @apply rotate-45 top-4.5;
    }
    .hamburger-menu.open::after {
        @apply -rotate-45 top-4.5;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

* {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-size: clamp(0.25rem, 1.25vw + 0.25rem, 1.1rem);
}
